
.form-serch{
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 0px;

}
select{
  width: 80px;
  height: 30px;
  opacity: 0.7;
}
.product{
    margin: 20px 20px 20px 1px;
}
h1{
    margin: 20px;
}
.product-title{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 20px;
    font-weight: 600;

}
.serch-input{
    opacity: 0.7;
}
.serch-submit{
    background-color: #0870FC;
    color:white;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    
}
.product-content__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}
